name: Package and release
on:
  push:
    tags:
      - '**'
jobs:
  release:
    runs-on: ubuntu-latest

    # specify the environment variables used by the packager, matching the secrets from the project on GitHub
    env:
      CF_API_KEY: ${{ secrets.CF_API_KEY }}
      WOWI_API_TOKEN: ${{ secrets.WOWI_API_TOKEN }}
      GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
      WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
    steps:
      - name: Clone project
        uses: actions/checkout@v2
      - name: Create Classic Package Classic
        uses: BigWigsMods/packager@master
        with:
          args: -g classic
      - name: Create Burning Crusade Classic Package
        uses: BigWigsMods/packager@master
        with:
          args: -g bcc
